body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* global styles */

.container-fluid {
  padding-right: 3.5rem;
  padding-left: 3.5rem;
  margin-right: auto;
  margin-left: auto;
}

.container {
  padding-right: 10rem;
  padding-left: 10rem;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1140px;
  }
}

@media (max-width: 992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 960px;
  }
}

@media (max-width: 768px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 720px;
  }
}

@media (max-width: 576px) {
  .container,
  .container-sm {
    max-width: 540px;
  }
}

.mt-5 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 2.5rem;
}

.mt-3 {
  margin-top: 2rem;
}

.mt-2 {
  margin-top: 1.5rem;
}

.mt-1 {
  margin-top: 1rem;
}

.carousel .control-dots {
  bottom: 2rem !important;
}
